<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="view">
<link rel="stylesheet" th:href="@{/css/exam_popup.css}"/>
<div class="ExamPopup" id="ExamPopup" style="display:none;">
    <div class="Frame8">
        <div class="Rectangle107"></div>
        <div class="Download Rectangle67 Create-1">Download</div>
        <div class="Cancel Rectangle67 Create-1">Cancel</div>
        <div class="Delete Rectangle67 Create-1">Delete</div>
        <div class="Edit Rectangle67 Create-1">Edit</div>
        <div class="Cadidate Rectangle67 Create-1">Candidate</div>
        <div class="Question Rectangle67 Create-1" onclick="call()">Question</div>
    </div>
    <div class="Frame7">
        <div class="Rectangle108"></div>
        <div id="ex1" class="ExamName"></div>
        <div id="ex2" class="Date"></div>
        <div id="ex3" class="Time"></div>
        <div id="ex4" class="Marks"></div>
        <div id="ex5" class="Duration"></div>
        <div id="ex6" class="TotalQuestion"></div>
        <div id="ex7" class="TotalCandidate"> </div>
        <div class="ExamIcon">
        </div>
        <div class="UiwDate">
        </div>
        <div class="IonTimeOutline">

        </div>
        <div class="ArcticonsNextcloudbookmarks">
        </div>
        <div class="GameIconsDuration">

        </div>
        <div class="PhQuestion">
            <div class="Vector10"></div>
        </div>
        <div class="Icons8Student">

        </div>
    </div>
    <div id="QuestionList" class="QuestionList"><p class="water-1">Exam View</p></div>
    <div class="close" style="width:30px;height:30px; border-radius:10px" onclick="closeView()"></div>
    <script th:src="@{/js/exam_view.js}"></script>
</div>
</body>
</html>